#contents {
  text-align: center;
  margin: 100px;
}

iframe{
  display: inline-box;
  width: 80%;
  height:800px;
}

#title1 {
  font-size:18px;
  font-weight:bold;
  text-align:center;
}

#title1 a{
  text-decoration:none;
  color:black;
}
