#header {padding:0;margin:0}
#header li{list-style:none}
#header a{text-decoration:none;font-size:14px}

#header h2{
  text-align: center
}

.menu {
  width: 100%;
  overflow: hidden;
  margin: 15px;
  padding: 0;
}

.menu > li {
  width: 14%; /*20*5=100%*/
  text-align: center;
  float: left;
  line-height: 40px;
  background-color: #5778ff;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;
}

.submenu {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;
}

.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}
