#homemenu{
  margin: 15px;
}

.menu {
  width: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  list-style: none;
}

.menu > li {
  width: 40%;
  height: 200px;
  float: left;
  text-align: center;
  line-height: 200px;
  margin: 20px;
  background-color: #5778ff;
  border-radius: 8px;
}

#homemenu a {
  color: #fff;
  text-decoration: none;
}
